<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Lorem ipsum dolor sit amet. <%= 4 + 5 + 6 %></h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet ipsam tempora dolore natus eum facilis necessitatibus laboriosam voluptas adipisci, quo accusantium commodi odio officia quia. Molestiae facilis est vero? Architecto.</p>
</body>
</html>