<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random</title>
</head>
<body>
    <h1><%= myName %> your random number is <%= num %></h1>
    <% if (num % 2 === 0) { %>
        <p>This is an even number</p>
    <% } else { %>
        <p>This is an odd number</p>
    <% } %>

    <h3>That number is <%= num%2===0 ? 'Even' : 'Odd' %> </h3>
</body>
</html>